<h1>Subjects</h1>

<table class ="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>


  <tbody>
    <% @instructors.each do |inst| %>
      <tr>
        <div class="container-fluid">
          <td><%= inst.name %>
        </div>
      </tr>
    <% end %>
  </tbody>
</table>
