<table class ="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% if @courses != nil %>
      <% @courses.each do |c| %>
        <tr>
          <div class="container-fluid">
            <td><%= c.name %></td>
            <td>
              <%= form_tag(controller: "courses", action: "enroll", method: "put", class: "nifty_form") do %>
                <%= hidden_field_tag :course_id, c.id %>
                <%= submit_tag "Enroll" %>
              <%end%>
          </td>

          </div>
        </tr>
        <% end %>
      </tbody>
    <% else %>
      <p> No Results </p>
    <%end%>
</table>
